<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    Hi '+body.fullname+',

    <br><br><p style="align:justify;">Thank you for verified your account. enjoy this System!</p>
    <p style="align:justify;">If you did not request for the reset of your verification code, please ignore this email.</p>
    <p style="align:justify;">In the meantime if you have any queries, do feel free to contact us at '+body.from+'.</p><br><br>

    Thanks,<br>
    MCST Team
  </body>
</html>
